MONGO_URI=mongodb+srv://nguyenhainam203:Mxk2z2aLmRRrwYCf@cluster0.3w8dp.mongodb.net/flight-ticket-booking_n?retryWrites=true&w=majority&appName=Cluster0
PORT = 3001
JWT_SECRET=fa1cbb09e64c8c1d1a2f34b8df67bfc63a1c84ff7983472bf1d41bca82d86734b2fca9e9d6b2ab02c8c837f87dbec4f2
RECAPTCHA_SECRET_KEY=6Lccb_wqAAAAAC-gievBiujbz6ncm9WTM7hpaV3h
EMAIL_USER=nguyenhainam9043@gmail.com
EMAIL_PASS=rjrf exyh jfkc lfvv
CLIENT_URL=http://localhost:3000
TRAVELPAYOUTS_TOKEN=4cc6a545d50430ffc49915cf1abf6bd1
AVIATIONSTACK_API_KEY=8eb40367f6d25078c5672a752fa7ece3
AMADEUS_CLIENT_ID=zzaF7VgZLSMKJgqpnDQvANzGTAHxxgP0
AMADEUS_CLIENT_SECRET=UrrpbnbPGu6bOVgh
AMADEUS_API_URL=https://test.api.amadeus.com